<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include common/required.html %>
    <link rel='stylesheet' href='/stylesheets/smart.css' />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel='stylesheet' href='/stylesheets/login.css' />

    <script type='text/javascript' src='/vendor/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='/vendor/jquery.jrumble.1.3.min.js'></script>
    <script type='text/javascript' src='/javascripts/login/login.js'></script>
    <script  type="text/javascript">
      var i18n = {

      }
    </script>
  </head>
  <body>
    <section>
      <article id="area" style="position: absolute;">
        <header>
          <hgroup>
            <h1></h1>
            <h2></h2>
          </hgroup>
        </header>
      </article>
    </section>
    <div id="container-demo">
      <div class="bubble">
        <h4 class="rectangle" style="text-align: center">StarWall</h4>
        <div class="triangle-l"></div>
        <div class="triangle-r"></div>

        <form id="loginform" method="post" action="/login">
          <input type="hidden" id="_csrf" name="_csrf" value="<%= csrftoken %>" />
          <input type="hidden" name="_method" value="post" />
          <p id="detail">
            <input type="text" id="name" name="name" value="admin" placeholder="UserID" />
            <input type="password" id="pass" name="pass" value="admin" placeholder="Password" />
          </p>
          <p>
            <div style="text-align: center;">
              <button style="padding-left: 88px;padding-right: 88px;" class="btn" onclick="javascript:login();return false;">Log in</button>
            </div>

          </p>
        </form>
      </div>    
    </div>
    <footer>
      <p style="text-align: center">Copyright © 2013, DA Corporation. All Rights Reserved.</p>
    </footer>
  </body>
</html>