<% include common/head.html %>

<!-- 加载模板 -->
<% include common/app_detail.html %>
<% include common/template_carousel.html %>

<!-- Side bar -->
<% include common/sidebar.html %>

<link herf="/stylesheets/starwall.css" rel="stylesheet">
<meta name="viewport">
<div class="span9">
  <section id="thumbnails1">
    <div class="breadcrumb breadcrumb-ext">
      <div >
        <span style="float: right " style="margin-bottom: 5px">
          <div class="btn-group">
            <a href="/app/list/title_new_list">
              <button type="button" class="btn btn-small ">
                <span class="icon-plus"></span>
                <span class="sr-only">更多</span>
              </button>
            </a>
          </div>
        </span>
        <h4 id="title_new_list">新着</h4>
      </div>
    </div>
    <div id="container_new_list"></div><!--well-->
  </section>
  <br><br>


  <section id="thumbnails2">
    <div class="breadcrumb breadcrumb-ext">
      <div>
				<span style="float: right " style="margin-bottom: 5px">
					<div class="btn-group">
            <a href="/app/list/title_download_list">
              <button type="button" class="btn btn-small ">
                <span class="icon-plus"></span>
                <span class="sr-only">更多</span>
              </button>
            </a>
          </div>
				</span>
        <h4 id="title_download_list">おすすめ</h4>
      </div>
    </div>
    <div id="container_download_list"></div>
  </section>
  <br><br>

  <section id="thumbnails">
    <div class="breadcrumb breadcrumb-ext">
      <div>
				<span style="float: right " style="margin-bottom: 5px">
					<div class="btn-group">
            <a href="/app/list/title_rank_list">
              <button type="button" class="btn btn-small ">
                <span class="icon-plus"></span>
                <span class="sr-only">更多</span>
              </button>
            </a>
          </div>
				</span>
        <h4 id="title_rank_list">ランキング</h4>
      </div>
    </div>
    <div id="container_comment_list"></div>
  </section>
  <br><br>
</div>

<script type="text/javascript">
  var new_list = Carousel.create();
  var download_list = Carousel.create();
  var comment_list = Carousel.create();

  var title_new_list = "新着";
  var title_download_list = "おすすめ";
  var title_rank_list = "ランキング";

  var is_loading = false;
  $(document).ready(function() {
    var crsf = $("#_csrf").val();

    // 新着一览
    new_list.init($("#container_new_list"), { name: "new_list" ,url: new_list.get_new_list_url() });
    new_list.load();//(test_detail_list_data);

    // 下载最多一览
    download_list.init($("#container_download_list"), { name: "download_list" ,url: new_list.get_download_list_url() });
    download_list.load();

    // 评价最高一览
    comment_list.init($("#container_comment_list"), { name: "comment_list" ,url: new_list.get_comment_list_url() });
    comment_list.load();

    is_loading = true;
  });

  function filterCategory(code, name) {
    if(is_loading == false || !code || !name){
      return;
    }
    // 设置检索title
    var title_category = ' ( ' + name + ' ) ';
    $('#title_new_list').html(_.escape(title_new_list + title_category));
    new_list.category = code;
    new_list.category_name = name;
    new_list.load();

    $('#title_download_list').html(_.escape(title_download_list + title_category));
    download_list.category = code;
    download_list.category_name = name;
    download_list.load();

    $('#title_rank_list').html(_.escape(title_rank_list + title_category));
    comment_list.category = code;
    comment_list.category_name = name;
    comment_list.load();
  }
</script>

<% include common/foot.html %>