body {
  /*background: #f00;*/
  border-top: 4px solid black;
  margin: 0;
  padding: 0;
}
article {
  /*  padding: 50px 0px 0px 100px;*/
}
footer {
  border: 0;
}
footer p {
  text-align: center;
  margin: 0;
  padding: 40px 0 0 0;
  font-style: italic;
  font-family: Times New Roman;
  font-size: 8px;
}
/*
input {
  font-size: 18px;
  font-weight: bold;
  width: 150px;
  margin-top: 12px;
  border: 1px solid #e0dfe3;
}
*/
article p {
  background: #f8f8f8;
  width: 300px;
  height: 50px;
  border: 1px solid #e0dfe3;
}
article p label {
  float: left;
  width: 100px;
  padding: 20px 0 0 20px;
  color: #666;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}
#login {
  width: 80px;
  height: 30px;
  /*padding-right: 10px;
    border: 0;
    background: url(/images/btn_login.gif) no-repeat;
    text-indent: -9999px;
    cursor: pointer;*/
}
#login:hover {
  background-position: left bottom;
}
/********************************/
/*
#container-demo .menu{
	width: 480px;
	margin: 0 auto;
}

#container-demo .menu li {
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	width: 140px;
	overflow: hidden;	
	float: left;
	background: rgba(255,105,180, .4);
	text-align: right;
	padding:0;
	margin:40px 0 0;
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	-khtml-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

#container-demo .menu .one_{
	margin-left: 40px;
}

#container-demo .menu li a{
	display:block;
	padding: 15px;
	border: none;
	color: #fff;
}
*/
#container-demo .bubble {
  margin: 0 auto;
  margin-top: 30px;
  clear: both;
  width: 340px;
  background: #fff;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  -khtml-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 90;
  padding: 50px;
}
#container-demo h4.rectangle {
  margin: 0;
  line-height: 50px;
  background: #1A84FB;
  height: 50px;
  width: 470px;
  position: relative;
  left: -65px;
  top: 10px;
  float: left;
  -moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
  z-index: 100;
  text-align: center;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
}
#container-demo .menu li:hover {
  background: rgba(255, 105, 180, 0.75);
}
#container-demo .triangle-l {
  border-color: transparent #3638B0 transparent transparent;
  border-style: solid;
  border-width: 15px;
  height: 0px;
  width: 0px;
  position: relative;
  left: -79px;
  top: 45px;
  z-index: -1;
}
#container-demo .triangle-r {
  border-color: transparent transparent transparent #3638B0;
  border-style: solid;
  border-width: 15px;
  height: 0px;
  width: 0px;
  position: relative;
  left: 390px;
  top: 16px;
  z-index: -1;
}
#container-demo .info {
  margin: 20px 0 0;
}
#container-demo .info {
  margin: 20px 0 0;
}
#detail {
  text-align: center;
  /*  border-radius:5px;
  background: none repeat scroll 0% 0% rgb(240, 240, 240);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.5, #EEE),
    color-stop(0.5, #EEE),
    color-stop(1, #EEE)
  );
*/
  width: 240px;
  padding: 2px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 30px;
}
/*input[type="text"], input[type="password"] {
  font: 15px 'Segoe UI',Arial,sans-serif;
  border: none;
  background: none;
  height: 36px;
  left: 26px;
  width: 234px;
  text-indent: 8px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  color: #222;
  outline: none;
}

#pass {
  border-top: 1px solid #E3E3E3;
}
*/
input::-webkit-input-placeholder {
  /*color: #666;*/
  text-indent: 3px;
  text-shadow: none;
  /*font-size: 12px;*/
}
a {
  color: #000;
}
