.span9{
  margin-left: 19%;
  width: 95%;
}

.main {
  margin: 0 auto;
  width: 85%;
  padding-top: 5%;
  /*padding-right: 50px;*/
}

section {
  margin: 0 auto;
  margin-top: 1%;
  width: 100%;
}

.filter {
  background-color: #eee;
  width: 675px;
  height: 40px;
  line-height: 40px;
  margin-left: 250px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 5px;

  -webkit-border-radius: 2px;
  display: none;
}



.breadcrumb-ext {
  padding: 1% 1%;
  width:92%;
}

#container_new_list{
  padding:5px;
  background:#ffffff;
  width:92%;
}

#container_download_list{
  padding:5px;
  background:#ffffff;
  width:92%;
}

#container_comment_list{
  padding:5px;
  background:#ffffff;
  width:92%;
}