<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include required.html %>

  <link rel="stylesheet" media="only screen and (min-width: 480px)"  href="/stylesheets/starwall.480.css" />
  <link rel="stylesheet" media="only screen and (min-width: 960px)"  href="/stylesheets/starwall.css" />

  <!--<link href="/stylesheets/starwall.css" rel="stylesheet">-->
  <link href="/stylesheets/default.css" rel="stylesheet">
</head>
<body>
<!-- 导航栏 -->
<% include navbar.html %>

<div class="main">
<div class="container">