<script src="/javascripts/common/pages.js"></script>
<!-- 分页共通模板 -->
<script type="text/template" id="template_pages">
	<ul>
		<li><a href="javascript: return false;" page="-1">Prev</a></li>
		<li><a href="javascript: return false;" page="1">1</a></li>
		<li><a href="javascript: return false;" page="2">2</a></li>
		<li><a href="javascript: return false;" page="3">3</a></li>
		<li><a href="javascript: return false;" page="4">4</a></li>
		<li><a href="javascript: return false;" page="5">5</a></li>
		<li><a href="javascript: return false;" page="-2">Next</a></li>
	</ul>
</script>